.App {
  
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  height: 450px;
  width: 530px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center
}

.column {
  display: flex;
  flex-direction: column;
}

.cell {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 3px;
  background-color: #fff;
}

.red {
  background-color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
